In [1]:
from glob import glob
import pandas as pd

In [2]:
stock_files = sorted(glob('/users/steven.w/downloads/JC-ShareBiking_data_NY_Jan2018-Jan2020/JC*.csv'))
stock_files

['/users/steven.w/downloads/JC-ShareBiking_data_NY_Jan2018-Jan2020/JC-201801-citibike-tripdata.csv',
 '/users/steven.w/downloads/JC-ShareBiking_data_NY_Jan2018-Jan2020/JC-201802-citibike-tripdata.csv',
 '/users/steven.w/downloads/JC-ShareBiking_data_NY_Jan2018-Jan2020/JC-201803-citibike-tripdata.csv',
 '/users/steven.w/downloads/JC-ShareBiking_data_NY_Jan2018-Jan2020/JC-201804-citibike-tripdata.csv',
 '/users/steven.w/downloads/JC-ShareBiking_data_NY_Jan2018-Jan2020/JC-201805-citibike-tripdata.csv',
 '/users/steven.w/downloads/JC-ShareBiking_data_NY_Jan2018-Jan2020/JC-201806-citibike-tripdata.csv',
 '/users/steven.w/downloads/JC-ShareBiking_data_NY_Jan2018-Jan2020/JC-201807-citibike-tripdata.csv',
 '/users/steven.w/downloads/JC-ShareBiking_data_NY_Jan2018-Jan2020/JC-201808-citibike-tripdata.csv',
 '/users/steven.w/downloads/JC-ShareBiking_data_NY_Jan2018-Jan2020/JC-201809-citibike-tripdata.csv',
 '/users/steven.w/downloads/JC-ShareBiking_data_NY_Jan2018-Jan2020/JC-201810-citibike-tripdata.csv',
 '/users/steven.w/downloads/JC-ShareBiking_data_NY_Jan2018-Jan2020/JC-201811-citibike-tripdata.csv',
 '/users/steven.w/downloads/JC-ShareBiking_data_NY_Jan2018-Jan2020/JC-201812-citibike-tripdata.csv',
 '/users/steven.w/downloads/JC-ShareBiking_data_NY_Jan2018-Jan2020/JC-201901-citibike-tripdata.csv',
 '/users/steven.w/downloads/JC-ShareBiking_data_NY_Jan2018-Jan2020/JC-201902-citibike-tripdata.csv',
 '/users/steven.w/downloads/JC-ShareBiking_data_NY_Jan2018-Jan2020/JC-201903-citibike-tripdata.csv',
 '/users/steven.w/downloads/JC-ShareBiking_data_NY_Jan2018-Jan2020/JC-201904-citibike-tripdata.csv',
 '/users/steven.w/downloads/JC-ShareBiking_data_NY_Jan2018-Jan2020/JC-201905-citibike-tripdata.csv',
 '/users/steven.w/downloads/JC-ShareBiking_data_NY_Jan2018-Jan2020/JC-201906-citibike-tripdata.csv',
 '/users/steven.w/downloads/JC-ShareBiking_data_NY_Jan2018-Jan2020/JC-201907-citibike-tripdata.csv',
 '/users/steven.w/downloads/JC-ShareBiking_data_NY_Jan2018-Jan2020/JC-201908-citibike-tripdata.csv',
 '/users/steven.w/downloads/JC-ShareBiking_data_NY_Jan2018-Jan2020/JC-201909-citibike-tripdata.csv',
 '/users/steven.w/downloads/JC-ShareBiking_data_NY_Jan2018-Jan2020/JC-201910-citibike-tripdata.csv',
 '/users/steven.w/downloads/JC-ShareBiking_data_NY_Jan2018-Jan2020/JC-201911-citibike-tripdata.csv',
 '/users/steven.w/downloads/JC-ShareBiking_data_NY_Jan2018-Jan2020/JC-201912-citibike-tripdata.csv',
 '/users/steven.w/downloads/JC-ShareBiking_data_NY_Jan2018-Jan2020/JC-202001-citibike-tripdata.csv']

In [3]:
df = pd.concat((pd.read_csv(file) for file in stock_files), ignore_index=True)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 784859 entries, 0 to 784858
Data columns (total 15 columns):
tripduration               784859 non-null int64
starttime                  784859 non-null object
stoptime                   784859 non-null object
start station id           784859 non-null int64
start station name         784859 non-null object
start station latitude     784859 non-null float64
start station longitude    784859 non-null float64
end station id             784859 non-null int64
end station name           784859 non-null object
end station latitude       784859 non-null float64
end station longitude      784859 non-null float64
bikeid                     784859 non-null int64
usertype                   784859 non-null object
birth year                 784859 non-null int64
gender                     784859 non-null int64
dtypes: float64(4), int64(6), object(5)
memory usage: 89.8+ MB

In [5]:
df.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [6]:
df.head(5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1
1,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2
2,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1
3,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1
4,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1

In [13]:
df.loc[-5:,:]

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1
1,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2
2,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1
3,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1
4,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
784854,544,2020-01-31 23:29:29.3910,2020-01-31 23:38:33.6910,3213,Van Vorst Park,40.718489,-74.047727,3194,McGinley Square,40.725340,-74.067622,29659,Subscriber,1989,1
784855,122,2020-01-31 23:30:59.3670,2020-01-31 23:33:01.6870,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3639,Harborside,40.719252,-74.034234,42361,Subscriber,1991,1
784856,201,2020-01-31 23:42:34.8460,2020-01-31 23:45:55.8780,3273,Manila & 1st,40.721651,-74.042884,3209,Brunswick St,40.724176,-74.050656,42368,Subscriber,1988,1
784857,300,2020-01-31 23:45:00.6800,2020-01-31 23:50:00.8740,3185,City Hall,40.717733,-74.043845,3267,Morris Canal,40.712419,-74.038526,42257,Subscriber,1981,2
784858,721,2020-01-31 23:48:35.1700,2020-02-01 00:00:36.4060,3206,Hilltop,40.731169,-74.057574,3202,Newport PATH,40.727224,-74.033759,29302,Customer,1998,1

In [14]:
df.to_csv('share_biking_NY_Jan2017-Dec2019.csv')